# Configurações do Banco de Dados PostgreSQL (deve usar asyncpg)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/learnlanguages

# Chaves de API das Inteligências Artificiais
GROQ_API_KEY=Sua_Chave_Groq_Aqui
OPENAI_API_KEY=Sua_Chave_OpenAI_Aqui

# Faturamento (Google Play Billing)
# Se True, qualquer requisição de compra no backend é aprovada automaticamente para fins de teste.
MOCK_GOOGLE_PLAY=True

# Credenciais da conta de serviço para validação real (deve ser o JSON completo em string de linha única ou caminho para o arquivo json)
GOOGLE_SERVICE_ACCOUNT_JSON=

# Diretório onde serão cacheados os áudios gerados pelo TTS
TTS_CACHE_DIR=./tts_cache_files
